body {
    font-family: Arial, sans-serif;
}

@page{margin: 0;}
.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.container div {
    width: 48%;
}
.container img {
    max-width: 100%;
    height: auto;
}
textarea {
    width: 100%;
    height: 150px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    width: 100%;
}

table input[type=text] {
    width: 100%;
    border: 0;

}
.yazdirBtn{
    
    width: 30%;
    height: 50px;
    background-color: yellow;
    border: 0px;
    border-radius: 15px;
    margin: 15px;
}
.yazdirBtn:hover{
    background-color: yellowgreen;
}


.a4 {
    width: 210mm; /* A4 genişliği */
    height: 297mm; /* A4 yüksekliği */
    margin: 0 auto; /* Sayfayı ortala */
    padding: 20mm; /* Sayfa kenar boşlukları */
    box-sizing: border-box; /* Kutunun içeriği kutu boyutuna dahil eder */
    border: 1px solid #ccc;
    /* height: 1122px;
    width: 794px;
    margin: auto; 
    margin: 0;
    padding: 30px;
    border: 1px solid #000; */
}
.faturaBolumu{
    display: inline-flex;
    align-items: flex-start;
    flex-direction: row;
}
textarea {
    white-space: pre-wrap;
}


.faturaBolumu > img{
    margin: 30% 0px 0px 0px;
    width: 35%;
}
/* Diğer stiller */

.seriLetterWrapper {
    display: flex;
    align-items: center;
}

.seriLetter {
    font-size: 120%; /* veya istediğiniz boyutu belirleyin */
    font-weight: bold;
    margin-right: 5px; /* 'A' harfinin konumunu ayarlamak için */
}

#fixedInput {
    font-size: inherit;
    font-weight: normal;
    border: 2px solid black;
    padding: 2px;
}

.faturaTablo{
    margin-top: auto;
    border: 0;
}
.faturaTablo > tbody > tr > th, .faturaTablo > tbody > tr > td{
    width: 50%;
    text-align: left;
    border: 0;
}
.miktarTablo > tbody > tr > th, .miktarTablo > tbody > tr > td{
    height: fit-content;
    padding: 0 10px;
}
.miktarTablo {
    width: 100%;
    table-layout: fixed; /* Set table layout to fixed */
    border-collapse: collapse;
}


/* .miktarTablo > tbody > tr > th:nth-child(1), .miktarTablo > tbody > tr > td:nth-child(1){
    width: 10%;
}
.miktarTablo > tbody > tr > th:nth-child(2), .miktarTablo > tbody > tr > td:nth-child(2){
    width: auto;
}

.miktarTablo > tbody > tr > th:nth-child(3), .miktarTablo > tbody > tr > td:nth-child(3){
    width: 15%;
}
.miktarTablo > tbody > tr > th:nth-child(4), .miktarTablo > tbody > tr > td:nth-child(4){
    width: 15%;
} */
.miktarTablo th:nth-child(1),
.miktarTablo td:nth-child(1) {
    width: 10%; /* Set the first column width to 10% */
}

.miktarTablo th:nth-child(2),
.miktarTablo td:nth-child(2) {
    width: 60%; /* Set the second column width to 60% */
}

.miktarTablo th:nth-child(3),
.miktarTablo td:nth-child(3),
.miktarTablo th:nth-child(4),
.miktarTablo td:nth-child(4) {
    width: 15%; /* Set the third and fourth column widths to 15% each */
}
.miktarTablo input[type="number"],
.miktarTablo input[type="text"] {
    width: 100%;
    border: 0;
    box-sizing: border-box;
}
/* Set the input fields inside the table cells to fill the entire cell width */
.tableRowElement{
    padding: 0 8px;
}
.topText{
    width: 100%!important;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}
.topText > textarea{
    width: 100%;
    border: 0;
    resize: none;
}

.toplamTablo > tbody > tr > th, .faturaTablo > tbody > tr > td{
    width: 50%;
    margin-top: auto;
}
.toplamTablo td {
    position: relative;
}

.toplamTablo td span {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

input[type=text]{
    border: 0;
}
input[type=number]{
    border: 0;
}
input[type=date]{
    width: 100%;
}
.faturaTablo > tbody > tr > td > input[type=text]{
    width: 100%!important;
}